*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 520px;
    background-color: white;
    margin: 100px auto 30px;
    padding: 30px 20px 70px;
    border-radius: 10px;
}

h2{
    color: #002a6e;
    margin-bottom: 30px;
}
h2 img{
    width: 30px;
    margin-left: 7px;
    align-items: center;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
}

input{
    font-size: 16px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 15px;
    border-radius: 10px;
}

button{
    font-size: 16px;
    color: whitesmoke;
    border: none;
    outline: none;
    padding: 16px 50px;
    border-radius: 30px;
    background-color: #ff5900;
}

ul{
    /*border: 1px solid black ;*/
    margin-top: 45px;
    padding-left: 30px;
    list-style: none;
}

ul li{
    font-size: 18px;
    margin-bottom: 15px;
    padding: 15px 20px 20px 20px;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li:before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url("img/circle.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: -15px;
}

ul li span{
    position: absolute;
    top: 6px;
    right: 35px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    color: #555;
    text-align: center;
    border-radius: 50%;
    /*border: 1px solid black;*/
}

.edit-button{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    right: -3px;
    /*border: 1px solid black;*/
    box-sizing: content-box;
    padding: 6px;
    border-radius: 20%;
}


.edit-button:hover{
    background-color: whitesmoke;
}

ul li span:hover{
    background-color:whitesmoke;
}

.checked{
    text-decoration: line-through;
    color: #656565;
}

.checked:before{
    background-image: url("img/checkmark.png");
}

.tip-element{
    position: fixed;
    padding: 5px;
    /*width: 60px;*/
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*.tip-element span{*/
/*    font-weight: 500;*/
/*}*/

.tip-element img{
    /*margin-left: 176px;*/
    width: 20px;
    height: 20px;
    border-radius: 20%;
    box-sizing: content-box;
    /*padding: 3px;*/
}

.tip-element img:hover{
    background-color: #dcdcdc;

}

/*ul li:after{*/
/*    content: '';*/
/*}*/
